body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3d5;
}

h1 {
    color: rgb(94, 94, 94);
}

.container-central {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0c1;
    border: 2px solid rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(152, 152, 152);
}

select {
    width: 300px;
}

input[type='number'] {
    width: 150px;
}

.container-result {
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.result {
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 0 10px;
    margin-bottom: 15px;
    text-align: center;
}

.currency {
    margin-bottom: 30px;
    display: flex;
}

select,
input[type='number'] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.amount-display {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    background-color: #fff;
    color: #000000;
    margin-left: auto;
}

button {
    background-color: rgb(0, 255, 17);
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(26, 255, 0);
}
